h1 {
color: black;
font-size: 3rem;
}

h2 {
    color: black;
    font-size: 1rem;
    font-weight: 300;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #0027d3;
    font-weight: 900;
    font-size: 2.5rem;
}
h4{
    font-family: 'Montserrat', sans-serif;
    color: #020202;
    font-weight: 900;
    font-size: 5rem;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(254, 202, 207);
    background: radial-gradient(circle, rgba(254, 202, 207, 1) 0%, rgba(224, 142, 150, 1) 100%);
    height: 12vh;
}

.btnImgHome {
        display: flex;
        max-height: 10rem;
}

label {
    margin: 0 10px; 
}
.btnImgHome2 {
    margin-left: 2rem;
    width: 60px; 
    height: 60px;
}


.Botones-link {

    text-decoration: none;
    color: black; 
    margin: 0 10px; 
    border: .01rem solid #000000;
    border-radius: .1rem;
    margin: 1rem;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem;
}

.Botones-link:hover {
    background-color: #e7361e;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.774);
  }
#search {
    margin: 1rem;
    padding: 6px;
    border: 2px solid #000000;
    border-radius: 4px;
  }

  #search:hover {
    border-color:  #026680;
    border-radius: 5px
}



/* ------------------------ Encabezado -------------------*/
.carouselslide{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#carouselExampleControls {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;
    margin: 0 auto;
}

.carousel-item img {
    max-height: 475px;
    object-fit: cover; 
}
.btn{
    margin: 0.5rem ;
}

/* Estilos para el contenedor de las cartas */
.cartasproductos {
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}


.card {
    margin: 10px; 

}

.cards-container{
    display: flex; 
    flex-direction: row;
    
}
.card-body{
    display: flex; 
    flex-direction: column;
}
.card-title{
    display: flex; 
    align-self: center;
    text-align: center;
    font-weight:700 ;
}
.card-text{
    font-weight: 100;
    text-align: center;
    display: flex; 
    align-self: center;

}   
.alert-success{
    text-align: center;
}
.alert-link{
font-size: 2.5rem;
}
.alert-success{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 1rem;
    padding-top: 2rem;
}

.figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.figure-caption{
    font-size: 1rem;
    text-decoration: underline;
}


.card-img-top{
    display: flex;
    align-self: center;
    max-width: 20rem;
    max-height: 20rem;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.personacirculo{
    display: block; 
    margin: 0 auto;
    height: 10rem;

}
.login-box {

    background-color: #fff;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.form-control {
    margin-bottom: 10px;
}


/* ------------------------ Footer -------------------*/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(254,202,207);
    background: radial-gradient(circle, rgba(254,202,207,1) 0%, rgba(224,142,150,1) 100%); 
    width: 100%;
    height: 100%;

}
.footer-content {
    display: flex;
    align-items: center;
 
}


.btnImgFooter{
    margin: 2rem;
    max-height: 7rem;
    padding: 15%;
}