h1 {
    color: #000000;
    background-color: #f8d4d9;
    font-size: 50px;
    text-align: center;
    font-family: "Georgia"; 
    font-weight: bold;
    text-shadow: 2px 2px 5px #000000;
    padding: 2px;
    border: 5px solid #000000;
    margin: 1px;
}

.btnImg {
    width: 12rem;
    height: 12rem;
    position: relative;
    left: 17rem;
    padding: 2px;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
}

.btnImg2,
.btnImg3,
.btnImg4 {
    width: 3rem;
    height: 3rem;
    position: relative;
    right: -70rem;
    top: -6rem;
    padding: 2px;
    display: inline-block;
    border-radius: 1px;
}

