h1 {
color: black;
}

.Botones-Encabezado a{
    text-decoration: none;
    color: inherit;
    
}

.Encabezado-principal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 15vh;
}

.Encabezado-principal .container{
    display: flex;
    background: rgb(254,202,207);
    background: radial-gradient(circle, rgba(254,202,207,1) 0%, rgba(224,142,150,1) 100%); 
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.btnImgHome{
display: flex;
max-height: 10rem;
padding-left: 5rem;
}
.Botones-Encabezado-link{
    padding-left: 6rem;
    border-radius: 0%;
    border-color: black;

/*  

.Botones-Encabezado-link a:hover{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.3rem;
    width: 29rem;
    height: 10rem;
}
*/