
.headerPrincipal .container{
    background-color: rgb(255, 255, 255);
    display:flex;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.headerPrincipal-titulo {
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-right: 25rem;
}

.headerPrincipal .container a{
    text-decoration: none;
    color: inherit;
}

.headerPrincipal-nav-link{
    border: 0.05rem solid #b2afaf;
    border-radius: 8%;
    padding: 0.2rem;
    margin: 0.1rem;
}

.headerPrincipal-nav-link:hover{
    color: #F2F5F7;
    background-color: rgb(172, 172, 172);
    color: #6701ff;
    transition: 0.5s;
}
/* ---------------------------------------------*/


.contenidoPrincipal .container{
    display:flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenidoPrincipal .container a{
    text-decoration: none;
    color: inherit;
}

.subtitulo{
    display:flex;
    width: 81.2vw;
    height: 75vh;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    padding-bottom: 0.9rem;
    margin-left: 9rem;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 700;
    font-weight: 70;
}

.contenidoPrincipal-cursos{
    margin-left: 6rem;
    display: flex;
    width: 185vh;
    height: 99vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.contenidoPrincipal-cursos-link{
    background-image: url("background2.svg");
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 2.8rem);
    height: calc(33.33% - 7rem);
    margin: 10px;
}

.contenidoPrincipal-cursos-link a:hover{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 19rem;
    height: 8rem;

}
.contenidoPrincipal-cursos-link:nth-child(even) a:before {
	background: url(../img/background1.svg) no-repeat;	
}
.contenidoPrincipal-cursos-link:nth-child()a:before{
    background: url(C:\Users\josea\Documents\Reposteriafina\Practica\img\background2.svg) no-repeat;
}
body{
    background-color: #F2F5F7;
    font-family: "Open Sans", Arial, sans-serif;
    width: 100vw
}

@media(min-width: 768px){

}
.videoSobre{

    display:flex;
    margin-top: 6rem;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
