
.headerPrincipal .container{
    background-color: rgb(255, 255, 255);
    display:flex;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.headerPrincipal-titulo {
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-right: 25rem;
}

.headerPrincipal .container a{
    text-decoration: none;
    color: inherit;
}

.headerPrincipal-nav-link{
    border: 0.05rem solid #b2afaf;
    border-radius: 8%;
    padding: 0.2rem;
    margin: 0.1rem;
}

.headerPrincipal-nav-link:hover{
    color: #F2F5F7;
    background-color: rgb(172, 172, 172);
    color: #6701ff;
    transition: 0.5s;
}
/* ---------------------------------------------*/


.contenidoPrincipal .container{
    display:flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.contenidoPrincipal .container a{
    text-decoration: none;
    color: inherit;
}

.contenidoPrincipal .subtitulo{
    color: #000000;
    display:flex;
    width: 81.2vw;
    height: vh;
    align-self: flex-start;
    flex-direction: column;
    justify-content: center;
 
    padding-bottom: 0.9rem;
    margin-left: 9rem;
    margin-top: 5rem;
    font-size: 2rem;
    font-weight: 700;
    font-weight: 70;
}

.contenidoPrincipal-cursos{
    color: #000000;
    margin-left: 6rem;
    display: flex;
    width: 185vh;
    height: 99vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}

.contenidoPrincipal-cursos-link{
    background-image: url("background2.svg");
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 2.8rem);
    height: calc(33.33% - 7rem);
    margin: 10px;
    box-shadow: 0.1rem 0.1rem 0.1rem;
}

.contenidoPrincipal-cursos-link a:hover{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0.3rem 0.3rem 0.3rem;
    width: 29rem;
    height: 10rem;
}

.contenidoPrincipal-cursos-link a:before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}
.contenidoPrincipal-cursos-link:nth-child(even) a:before {
	background: url(../img/background1.svg) no-repeat;	
}
.contenidoPrincipal-cursos-link:nth-child(odd) a:before{
    background: url(../img/background2.svg) no-repeat;
}

body{
    background-color: #F2F5F7;
    font-family: "Open Sans", Arial, sans-serif;
    width: 100vw
}

@media(min-width: 768px){

}
.videoSobre{

    display:flex;
    margin-top: 10rem;
    width: 100vw;
    height: 100vh;
    background-color: #00a2d4;
    align-items: flex-end;
    padding-left: 5rem;

}
.videoSobre .container{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;

}
.videoSobre-sobre{
    color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5rem;
}
.videoSobre-sobre-title{
font-weight: 700;
font-size: 3rem;
display: flex;
flex-direction: row;
}
.videoSobre-sobre-list{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem;
}

.videoSobre-button{
    height: 5rem;
    width: 28rem;
    font-size: 3rem;
    color: #010101;
    background-color: #ec710d;
    border: 0.05rem solid #000000;
    border-radius: 5%;
    box-shadow: 0.1rem 0.1rem 0.1rem;
    
}

.navmap-list-title-backend {
    color: #24d69e;
    font-weight: 700;
    font-size: 2rem;
}

.navmap-list-title-frontend {
    color: #22ecf3;
    font-weight: 700;
    font-size: 2rem;
}

.navmap-list-title-framework {
    color: #b615c8;
    font-weight: 700;
    font-size: 2rem;
}

.navmap-list-title-bancoDeDados {
    color: #cc1a02;
    font-weight: 700;
    font-size: 2rem;
}

/*----------------------------------*/

.rodapePrincipal-navMap{
display: flex;
flex-direction: column;
background-color: #06365e;
padding: 1rem;
}


.rodapePrincipal .subtitulo {
    padding-left: 9rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
	color: #faf8f8;
    font-weight: 700;
    font-size: 3rem;
    display: flex;
}
.rodapePrincipal-navMap-list {

    padding-left: 7rem;
    color: #fafafa;
}
.rodapePrincipal-navMap-link  {
    display: flex;
    padding: 1rem;
    text-decoration: none;
    color: inherit;

}
.rodapePrincipal-navMap-list-title{

    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.navmap-group{
margin:2rem;
display: flex;
flex-direction: column;
align-items: baseline;
}


/*----------------------------------*/
.rodapePrincipal-patrocinadores {
	margin: 2rem;
	background: #F2F5F7;

}
.rodapePrincipal-patrocinadores .container {
    display: flex;
    flex-direction: row;
  }
  
  .rodapePrincipal-patrocinadores-list {
    width: 120vh;
    margin-right: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
.rodapePrincipal-contatoForm {
    width: 25%;
  }



.rodapePrincipal-contatoForm-emailInput {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
	padding: 0.6rem;
}

.rodapePrincipal-contatoForm-submit {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
	background-color: #13723b;
	color: #FFF;
    padding: 0.6rem;
    margin-right: 8rem;
}

.rodapePrincipal-contatoForm-submit, .rodapePrincipal-contatoForm-emailInput {

	border: 0.1rem solid #138543;
	font-size: 1rem;
}
.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
}



